.WeatherInfo {
  margin-top:10px;
}

.WeatherInfo .temperature-container {
  margin-top: 10px;
  align-items: center;
}


.col-lg-12 {
    display: flex;
    flex: 0 0 auto;
    /* width: 100%; */
    justify-content: center;
}

.justify-content-end {
  justify-content: flex !important;
  justify-content: center;
}